@using Microsoft.AspNetCore.Identity
@inject SignInManager<DataImporter.Membership.Entities.ApplicationUser> SignInManager
@{
    Layout = "_Layout";
    ViewData["Title"] = "Access Denied";
}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <div class="mb-4">
                    DataImport
                </div>
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Access Denied!</h4>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form id ="logout-form" style="display: none" asp-controller="Account" asp-action="Logout" 
                              asp-route-returnUrl="@Url.Action("Login", "Account")" asp-antiforgery="true">
                        </form>
                        <p>Try <a href="javascript:$('#logout-form').submit()">Logout</a> and Login again with right account</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>