<div class="col-md-3">
    <div class="form-group">
        <div>
            <label for="filter-start-date">Start Date</label>
            <div class="switch d-inline m-r-10">
                <input type="checkbox" id="switch-start-date" checked>
                <label for="switch-start-date" class="cr"></label>
            </div>
        </div>
        <input type="text" class="form-control form-control-sm text-center" id="filter-start-date">
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <div>
            <label for="filter-end-date">End Date</label>
            <div class="switch d-inline m-r-10">
                <input type="checkbox" id="switch-end-date" checked>
                <label for="switch-end-date" class="cr"></label>
            </div>
        </div>
        <input type="text" class="form-control form-control-sm text-center" id="filter-end-date">
    </div>
</div>