<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] | DataImporter</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    @*<link rel="stylesheet" href="/assets/fonts/fontawesome/css/fontawesome-all.min.css">*@
    <link rel="stylesheet" href="/template/plugins/fontawesome-free/css/all.min.css">
    <!-- toastr css -->
    <link rel="stylesheet" href="/lib/toastr/toastr.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/assets/plugins/animation/css/animate.min.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/css/loader.css">

    <!-- dtable search input cross css -->
    <style>
        input[type="search"] {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            -webkit-appearance: searchfield;
        }

        input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: searchfield-cancel-button;
        }
    </style>
    @await RenderSectionAsync("Styles", false)
</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <partial name="_SideBarPartial" />
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <partial name="_NavPartial" />
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            @RenderBody()
                            <!-- [ Main Content ] end -->
                            @Html.AntiForgeryToken()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="/assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="/assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="/assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="/assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="/assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    <script src="/assets/js/vendor-all.min.js"></script>
    @* <script src="/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
    <script src="/lib/toastr/toastr.min.js"></script>
    <script>
        const toastrOptions = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        String.prototype.replaceAll = function (search, replacement) {
            let target = this;
            return target.split(search).join(replacement);
        };
        $(document).ready(function () {
            $('.pcoded-inner-navbar li a').each(function () {
                var hrefs = $(this).attr('href').replaceAll('/', '').toLowerCase();
                var pname = $(location).attr('pathname').replaceAll('/', '').toLowerCase();
                if (hrefs == pname) {
                    var cli = $(this).closest('li');
                    if (cli.hasClass('top-nav-link')) {
                        cli.addClass('active');
                        return;
                    }
                    $(this).closest('li').addClass("active");
                    var ul = $(this).closest('.pcoded-submenu');
                    ul.css('display', 'block');
                    var li = ul.closest('.pcoded-hasmenu');
                    li.addClass("pcoded-trigger");
                }
            });
        });
        $(document).ajaxSend(function (event, jqxhr, settings) {
            if (settings.type.toUpperCase() != "POST") return;
            jqxhr.setRequestHeader('RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            if (jqxhr.status == 401 || jqxhr.status == 403) {
                window.location.href = `Account/Login?ReturnUrl=${encodeURI(window.location.pathname)}`;
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
