<div class="col-md-3">
    <div class="row align-items-end">
        <div class="form-group col-md-12 pl-0">
            <label for="filter-start-date" style="margin-right:-15px" class="float-md-right float-sm-none">Search
                Box</label>
            <input class="form-control form-control-sm @*shadow-none*@" type="search" id="search-box"
                placeholder="search...">
        </div>
    </div>
</div>